/*灰色*/
.SonlineBox2{ width:162px; font-size:12px;overflow:hidden; z-index:9999;}
.SonlineBox2 .openTrigger{ width:31px; height:110px; position:absolute; top:0px;  z-index:1; cursor:pointer;  background:#7b7b7b url(../images/grayOpen.jpg) no-repeat;}
.SonlineBox2 .titleBox{ width:158px; height:35px; line-height:35px; background:#00a91c url(../images/grayTitleBg.gif) repeat-x; border-bottom:2px solid #7b7b7b;}
.SonlineBox2 .titleBox span{ margin-left:10px; color:#fff; font-size:14px; font-family:'微软雅黑','黑体';}
.SonlineBox2 .contentBox{ width:158px; height:auto; border:2px solid #7b7b7b; background:#fff; position:absolute; z-index:2;}
.SonlineBox2 .contentBox .closeTrigger{ width:25px; height:25px; display:block; cursor:pointer;  position:absolute; top:5px;right:5px;-webkit-transition:all 0.8s ease-out;}
.SonlineBox2 .contentBox .closeTrigger:hover{-webkit-transform:scale(1) rotate(360deg);}
.SonlineBox2 .contentBox .listBox{overflow:hidden; margin-bottom:10px;}
.SonlineBox2 .contentBox .listBox .QQList{ display:block; width:86%; height:22px; margin:10px auto 0px auto;}
.SonlineBox2 .contentBox .listBox .QQList span{float:left; line-height:22px;}
.SonlineBox2 .contentBox .listBox .QQList a{float:left;}
